* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body{
  background-color: rgb(41, 41, 41);
}

.container-header {
  margin: 5%;
  color: #FFF;
  display: flex;
  justify-content: center;
}

.players{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.container-add-players{
  width: 50%;
  padding-left: 15px;
}

.container-players {
  width: 50%;
}

.add-player-button {
  padding: 8px;
  background-color:#1A8CD8;
  color: #FFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.label-add-players{
  display: block;
  color: #FFF;
  margin-bottom: 5%;
}

input {
  padding: 8px;
  border-radius: 12px;
  border: none;
  margin-right: 5%;
}

.list-player-ul {
  list-style-type: none;
  color: #FFF;
  font-size: 18px;
}

.remove-player-button {
  margin-left: 5%;
  padding: 4px;
  color: #FFF;
  background-color: rgb(204, 71, 71);
  border: none;
  border-radius: 16px;
  font-size: 12px;
}